body{
    background-color:whitesmoke;
    font-family: 'Lucida Brigth', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    margin: 0px;
}   

header{
    text-align: center;
    /*background: white;*/
}

/*lista*/
nav ul{
    /*le quitamos las viñetas*/
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/*hipervinculos del elemento a*/
nav ul li a{
    /*los convertimos en bloques*/
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    /*el text decoration es para quitarle toda la decoracion que tenga*/
    text-decoration: none;
    flex-wrap: wrap;
}

nav ul li a img {
    height: 40px; /* Ajusta el tamaño según lo necesites */
    width: 40px;
    border-radius: 50%; /* Opcional para hacer la imagen circular */
}

a:hover{
    /*background: black;*/
    /*color: floralwhite;*/
    transform: scale(1.1);
}

header h1{
    color: rgb(0, 0, 0);
}

h1{
    font-family: 'Lucida Brigth', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
}
h3{
    font-size: 20px;
    color: black;
}
main{
    /* arriba | derecha | abajo | izquierda */
    padding: 0 1em;
    margin: auto;
    max-width: 1100px;
}

img{
    height: 40px;
    width: 40px;
}

footer{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
footer img{
    height: 40px;
    width: 40px;
}

p{
    font-size: large;
    margin-bottom: 16px;
}
/*
.proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}*/

.proyectos{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

img{
    max-width: 100%;
    height: 50px;
    width: 50px;
    margin: 5px;
    height: auto;
}

.proyectos:hover{
    transform: scale(1.1);
}

.about-me{
    align-items: center;
    color: black;
        /*el text decoration es para quitarle toda la decoracion que tenga*/
    text-decoration: none;
    font-size: large;
    font-family: 'Lucida Brigth', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;   
}

.icon{
    height: 25px; 
    width: 25px;
}


#tech-stack{
    display: block;
}

#projects{
    display: block;
}

h2 {
    display: flex;
    align-items: center;
}


/*Media query para que el menu se apile en celulares*/
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    footer {
        justify-content: center;
    }
}

